*.suo
*.swp

/Jubjubnest.FlightControl/flightcontrol.eep
/Jubjubnest.FlightControl/flightcontrol.elf
/Jubjubnest.FlightControl/flightcontrol.hex

/Jubjubnest.FlightControl/obj
/Jubjubnest.FlightMonitor/obj
/Jubjubnest.FlightMonitor/bin

/FlightControl.sln.DotSettings
/Jubjubnest.FlightControl/flightcontrol.sym
/Jubjubnest.FlightMonitor.node/build

/Jubjubnest.FlightMonitor.node/node_modules
